.card {
  background-color: #062226;
  color: #fff;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card__header {
  position: relative;
}

.card__header-status {
  position: absolute;
  top: 1.5rem;
  left: 0;
  background-color: #062226;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2px 20px 2px 10px;
  border-radius: 0 10px 10px 0;
}

.status__circle {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.card__info {
  justify-content: flex-end;
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__info-name {
  font-weight: 400;
}

.card__info-list {
  display: grid;
  gap: 0.5rem;
}

.list__title {
  display: block;
  color: rgba(255, 255, 255, 0.342);
}

.Alive {
  background-color: #80ff86;
  box-shadow: 0px 0px 4px 0px #80ff8685;

}

.Dead {
  background-color: red;
  box-shadow: 0px 0px 4px 0px red;
}

.unknown {
  background-color: #afafaf;
  box-shadow: 0px 0px 4px 0px #afafaf;
}